<%=link_to 'New Employee',{:controller => 'employee', :action => 'register'}, :class => "btn btn-primary" %>
<table class="table">
  <tr>
    <thead>
     <th>ID &nbsp; &nbsp; &nbsp;</th> 
    <th>Name</th>
    <th>Email</th>
    <th>Employee ID</th>
  </tr></thead>
   <% if @employees!= nil %>
   <% @employees.each do |employee| %>
   <tr><tbody>
	  <td><%= employee.id%></td>
    <td><%= employee.name %></td>
    <td><%= employee.email %></td>
    <td><%= employee.employeeid %></td>
    <td><%= link_to 'Edit', {:controller => 'employee', :action => 'edit', :id => employee.id}, :class => "btn btn-warning" %></td>
    <!-- <td><%=  link_to 'Destroy',{:action => 'destroy', :id => employee.id}, data: { confirm: 'Are you sure?' } %></td> -->
  </tr></tbody>
  <% end %>

  <% end %>

</table>
