<table id="example" class="cell-border" width="100%" cellspacing="0">
  <tr>
     <th>ID &nbsp; &nbsp; &nbsp;</th> 
    <th>Name</th>
    <th>Type</th>
    <th>Assigned to</th>
    <th>Image</th>
  </tr>

   <%-# @patient_list.position.UUID.each do |UUID| %> 
   <% if @assets!= nil %>
   <% @assets.each do |asset| %>
   <% if asset.activity == "Y" %>
   <tr>
	  <td><%= link_to asset.id,:controller => "asset", :action => "view", :id => asset.id -%></td>
    <td><%= asset.name %></td>
    <td><%= asset.types %></td>
    <td><%= asset.employee %></td>
    <td><%= image_tag asset.image_url %></td>
    <td><%= link_to 'Edit', {:controller => 'asset', :action => 'edit', :id => asset.id} %>
  </tr>
  <% end %>
  <% end %>

  <% end %>

</table>
