<div class = "container">
	<div class = "row">
		<div class = "col-md-8 col-md-offset-2">
<% @page_title = "test-app | Asset Profile" %>
<h1>Asset Profile</h1>

	<table class= "table table-bordered">
		<thead>
		</thead>
		<tbody>
			<tr>
				<td>Name: </td>
				<td><%= @asset.name %>
				</td>
			</tr>

	<tr><td>Description: </td><td><%= @asset.description %></td></tr>
	<tr><td>Type: </td><td><%= @asset.types %></td></tr>
	<tr><td>Location: </td><td><%= @asset.location %></td></tr>
	<tr><td>Owner: </td><td><%= link_to_if @asset.owner_id?, @asset.owner_id,:controller => "owner", :action => "view", :id => @asset.owner_id -%></td></tr>
	<tr><td>Employee: </td><td><%=  link_to_if @asset.employee_id?, @asset.employee.name,:controller => "employee", :action => "profile", :id => @asset.employee_id -%></td></tr>
	<tr><td>Status: </td><td><%= @asset.status %></td></tr>
	<tr><td>Model No: </td><td><%= @asset.model_no %></td></tr>
	<tr><td>Serial No: </td><td><%= @asset.serial_no %></td></tr>
	<tr><td>MAC Address: </td><td><%= @asset.mac_address %></td></tr>
	<tr><td>Purchase date: </td><td><%= @asset.purchase_date %></td></tr>
	<tr><td>Purchase Order:</td><td><%= image_tag @asset.scan %></td></tr>
	<tr><td>Image: </td><td><%= image_tag @asset.image_url %></td></tr>
	<tr><td>Vendor: </td><td><%= link_to_if @asset.vendor_id?, @asset.vendor_id, :controller => "vendor", :action => "view", :id => @asset.vendor_id -%></td></tr>
	<tr><td>Cost: </td><td><%= @asset.cost %></td></tr>
	<tr><td>AMC: </td><td><%= @asset.amc %></td></tr>
	<tr><td>AMC Amount: </td><td><%= @asset.amc_amount %></td></tr>
	<tr><td>Expiry Date: </td><td><%= @asset.expiry_date %></td></tr>
	<tr><td>Warranty Type: </td><td><%= @asset.warranty_type %></td></tr>
	<tr><td>IS Type: </td><td><%= @asset.IS_type %></td></tr>
	<tr><td>Integrity: </td><td><%= @asset.integrity %></td></tr>
	<tr><td>Confidentiality: </td><td><%= @asset.confidentiality %></td></tr>
	<tr><td>Note: </td><td><%= @asset.note %></td></tr>
	<tr><td>Active? </td><td><%= @asset.is_active %></td></tr>
</tbody>
</table>
</div>
</div>
</div>

	